@media (max-width: 575px) {
	.services_box{
		width: 100%;
		margin-bottom: 30px;
	}
  .about_calc_box {
    width: 50%;
  }
}
@media (min-width: 576px) and (max-width: 767px){
	.services_box{
		width: 45%;
		margin-bottom: 25px;
		margin-right: 12px;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.services_box{
		width: 45%;
		margin-bottom: 30px;
		margin-left: 20px;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.services_boxes-wrap{
		width: 80%;
	}
	.services_box{
		width: 24%;
	}
}
@media (min-width: 1200px){
	.services_boxes-wrap{
		width: 60%;
    	justify-content: space-evenly;

	}
	.services_box{
		width: 15%;
	}
}
}