@media (max-width: 768px) {
  .about_us_calc-wrap,
  .services_boxes-wrap{
    flex-wrap: wrap;
  }
  .about_calc_box {
    width: 50%;
  }
  .about_calc_box:nth-child(even){
    border-right: none;
  }
  .services_box{
  	width: 45%;
  }
}
@media (max-width: 1024px){
}