
@media (max-width: 575px) {
	.services_box{
		width: 100%;
		margin-bottom: 30px;
	}
	.about_us_btn {
		width: 50%;
	}
	.about_calc_box {
		width: 50%;
	}
	.about_calc_box:nth-child(even){
		border: none;
	}
	.stels_description{
		margin-bottom: 30px;
		margin-left: 10px;
	}
	.stels_description i{
		font-size: 16px;
	}
	.team_name{
		font-size: 18px;
	}
	.team_position{
		font-size: 16px;
		line-height: 30px;
	}
	.tariff{
		width: 100%;
	}
	.about_us_btn{
		width: 60%;
	}
	.about_us_btn a{
		margin-bottom: 5px;
	}
	.footer-wrap {
    	width: 90%;
	}
	.f-content{
		flex-direction: column;
	}
	.contact-info,
	.f-content form{
		width: 100%;
	}
	.compas-img{
		display: none;
	}
	.compas-question{
		margin: 20px 7px;
	}
	.f-content form input {
    	width: 40%;
	}
	.pf-img img{
		max-height: 170px;
	}
	.clients img {
    width: 10%;
	}
	.hat_menu,
	.hat_social{
		display: none;
	}
	.hat{
		justify-content: space-between;
	}
}
@media (min-width: 576px) and (max-width: 767px){
	.services_box{
		width: 45%;
		margin-bottom: 25px;
		margin-right: 12px;
	}
	.tariff{
		width: 47%;
	}
	.about_us_btn{
		width: 60%;
	}
	.footer-wrap {
    	width: 90%;
	}
	.f-content{
		flex-direction: column;
	}
	.contact-info,
	.f-content form{
		width: 100%;
	}
	.compas-img{
		display: none;
	}
	.compas-question{
		margin: 20px 7px;
	}
	.hat_menu,
	.hat_social{
		display: none;
	}
	.clients img {
    width: 10%;
	}
	.hat{
		justify-content: space-between;
	}
}
@media (max-width: 767px){
	.pf-img img{
		width: 50%;
	}
	.blog_gallery img,
	.blog-info{
		width: 100%;
	}
	.blog-info span{
		width: 80%;
	}
	.bl-gall2{
		display: none;
	}
	.clients{
    	justify-content: space-around;
    	width: 100%;
	}
}
@media (min-width: 768px) and (max-width: 991px){
	.services_box{
		width: 45%;
		margin-bottom: 30px;
		margin-left: 20px;
	}
	.our_team_block{
		width: 30%;
	}
	.tariff{
		width: 47%;
	}
	.about_us_btn{
		width: 50%;
	}
	.blog_gallery img,
	.blog-info{
		width: 50%;
	}
	.footer-wrap {
    	width: 90%;
	}
	.blog-info p{
		font-size: 19px;
	}
	.blog-info h5{
		font-size: 24px;
	}
	.compas-img{
		display: none;
	}
	.compas-question{
		margin: 20px 7px;
	}
	.clients{
    	justify-content: space-around;
    	width: 100%;
	}
	.hamburger-wrap{
		display: none;
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	.services_boxes-wrap{
		width: 80%;
	}
	.services_box{
		width: 24%;
	}
	.our_team_block{
		width: 30%;
	}
	.tariffs{
		width: 100%;
	}
	.price{
		font-size: 60px;
		line-height: 80px;
	}
	.about_us_btn{
		width: 40%;
	}
	.blog_gallery img,
	.blog-info{
		width: 50%;
	}
	.footer-wrap {
    	width: 90%;
	}
	.blog-info p{
		font-size: 19px;
	}
	.blog-info h5{
		font-size: 24px;
	}
	.clients{
    	justify-content: space-around;
    	width: 100%;
	}
	.hat_logo a{
		font-size: 20px;
	}
	.hat_menu a,
	.hat_social{
		font-size: 18px;
	}
	.hamburger-wrap{
		display: none;
	}
}
@media (min-width: 1200px){
	.services_boxes-wrap{
		width: 65%;
		justify-content: space-evenly;
	}
	.services_box{
		width: 20%;
	}
	.our_team_block{
		width: 30%;
	}
	.portfolio_btns {
		width: 33%;
	}
	.blog_gallery{
		width: 80%;
	}
	.hat_logo a{
		font-size: 20px;
	}
	.hat_menu a,
	.hat_social{
		font-size: 18px;
	}
	.hamburger-wrap{
		display: none;
	}
}