.clearfix::after {
	content: "";
	display: table;
	clear: both;
}
a{
	text-decoration: none;
}
body,
header,
footer{
	width: 100%;
	padding: 0;
	margin: 0;
}
footer{
	background-image: url(../img/footer-bg.png);
	background-repeat: no-repeat;
	background-size: cover;
}
h2,h3{
	text-transform: uppercase;
	font-family: 'Amsdam-Regular';
	font-size: 20px;
	letter-spacing: 1px;
	padding-top: 58px;
	padding-bottom: 27px;
	margin: 0;
	color: #3e3d3d;
}
h3{
	color: #fff;
}
h4{
	font-family: 'CrimsonText-Roman';
	font-size: 14px;
	letter-spacing: 1px;
	padding: 35px 30px;
	text-align: center;
	color: #3e3d3dab;
	margin: 0;
}
h6{
	color: #fff;
	font-size: 13px;
	font-family: 'Montserrat-Regular';
}
h6 a{
	color: #fff;
}
h6 a:hover{
	text-decoration: underline;
}
/*Header*/
.hat{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'Montserrat-Regular';
	font-weight: bold;

}
.hat a{
	color: #aaa;
}
.hat_logo{
	text-transform: uppercase;
	display: flex;
	align-items: center;
	margin: 0 10px;
}
.hat_logo img{
	padding: 5px 0;
}
.hat_logo a{
	letter-spacing: 2px;
	font-size: 16px;
	padding-left: 3px;
}
.hat_menu{
	display: flex;
	list-style: none;
	padding-left: 0;
	font-size: 14px;
}
.hat_social li:nth-child(even){
	margin: 0 5px;
	padding: 0 8px;
	border-left: 1px solid #757575;
	border-right: 1px solid #757575;
}
.hat_menu li,
.hat_social li{
	padding: 0 8px;
}
.hat_menu li a:hover,
.hat_social li a:hover{
	color: #757575;
	transition: 0.8s ease-out;
}
.hat_social{
	display: flex;
	list-style: none;
	padding: 0;
    font-size: 14px;
    margin: 0 10px;
    align-items: center;
}
/*Habmurger start*/
.hamburger-wrap{
	width: 35%;
	position: relative;
	color: #fff;
	text-align: center;
	height: 40px;
}
.burger-line{
	position: absolute;
	width: 35px;
	height: 2px;
	top: 8px;
	right: 10px;
	background-color: #aaa;
	transition: .5s all;
}
.hb-first{

}
.hb-second, .hb-third{
	top: 18px;
}
.hb-third{
	
}
.hb-fourth{
	top: 28px;
}
#check-menu{
	display: none;
}
.hamburger-wrap label{
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 20%;
	height: 100%;
	margin-left: 80%;
	z-index: 2;
	line-height: 40px;
}
.hb-menu{
	display: block;
	position: absolute;
	width: 100%;
	bottom: 0;
	left: 0;
	transform: translateY(100%);
	z-index: 1;
	background-color: #5d5d5ded;
	overflow: hidden;
	max-height: 0;
	font-size: 0;
	transition: .5s all;
}
.hb-menu a{
	display: block;
	width: 100%;
	border-top: 1px solid #bbb;
	padding: 10px;
}
#check-menu:checked ~ .hb-menu{
	max-height: 500px;
	font-size: 16px;
}
#check-menu:checked ~ .hb-first{
	display: none;
}
#check-menu:checked ~ .hb-fourth{
	display: none;
}
#check-menu:checked ~ .hb-second{
	transform: rotate(45deg);
}
#check-menu:checked ~ .hb-third{
	transform: rotate(-45deg);
}
/*Hamburger end*/
/*Header END*/
/*-------------*/
/*About US*/
.about_us_wrap{
	background-color: #e3e3e3;
}
.about_us{
	padding-top: 73px;
	width: 80%;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.about_us_btn{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	width: 33%;
}
.about_us_btn a{
	border: solid 2px #3e3d3d;
	padding: 5px 15px 5px 15px;
	color: #3e3d3d;
}
.about_us_btn a:hover{
	background-color: #3e3d3d;
	color: #c7c7c7;
	transition: 0.7s ease-out;
}
.about_us_description{
	display: flex;
	padding-top: 40px;
	padding-left: 20px;
	padding-right: 20px;
	letter-spacing: 1px;
	line-height: 28px;
	color: #3e3d3d;
	text-align: center;
}
.about_us_img{
	width: 100%;
	height: 325px;
	background-repeat: no-repeat;
	background-size: cover;
	background-image: url(../img/about_us_img.png);
}
.about_us_calc-wrap{
	margin: 0 auto;
	width: 80%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex-wrap: wrap;
	padding-top: 36px;
}
.about_calc_box{
	border-right: 1px solid #b0b0b0;
	width: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Montserrat-Regular';
	font-weight: bold;
	color: #3e3d3d;
	box-sizing: border-box;
	margin-bottom: 65px;
}
.about_calc_box p{
	font-size: 13px;
	margin: 22px 0 22px;
}
.about_calc_box span{
	font-size: 45px;
}
.about_calc_box:last-child{
	border: none;
}
/*About US end*/
/*Services start*/
.services_wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-image: url(../img/services_bg.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	color: #fff;
	text-align: center;
}
.services_wrap h4{
	color: #ffffffab;
}
.services_boxes-wrap{
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	width: 55%;
}
.services_box{
	width: 20%;
	border: solid 1px #898989;
	border-top: 0;
	color: #cfcfcf;
	box-sizing: border-box;
	/*max-height: 350px;*/
	margin-bottom: 85px;
	position: relative;
}
.services_box img{
	position: absolute;
	top: 0;
	left: 50%;
	transform: translate(-50%, -50%);
}
.services_box::before {
  content: "";
  position: absolute;
  display: block;
  left: -1px;
  top: 0;
  background-color: #898989;
  width: 33%;
  height: 1px;
}

.services_box::after {
  content: "";
  position: absolute;
  display: block;
  right: -1px;
  top: 0px;
  background-color: #898989;
  width: 33%;
  height: 1px;
}
.services_box p{
	font-size: 13px;
	font-family: 'Montserrat-Regular';
	font-weight: bold;
	letter-spacing: 2px;
    margin-top: 25px;
}
.services_box span{
	font-size: 14px;
	font-family: 'CrimsonText-Roman';
	padding: 25px 25px;
	padding-top: 0;
	display: block;
	letter-spacing: 1px;
}
/*Services end*/
/*History start*/
.history_wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.history-content{
	flex-direction: row;
	display: flex;
	justify-content: center;
	text-align: center;
	width: 80%;
}
.hs-data{
	border: 1px solid #3e3d3d;
	border-radius: 50%;
    padding: 20px 15px;
}
.history_blocks{
	width: 50%;
	display: flex;
	flex-direction: column;
}
.history_blocks div{
	width: 50%;
	position: relative;
    box-shadow: 0px 0px 0px 2px #3e3d3d;
    text-align: left;
    margin-top: 80px;
}
.history_blocks h5{
	margin: 10px 15px;
	font-family: 'Montserrat-Regular';
}
.history_blocks h5 span{
	font-size: 11px;
	line-height: 30px;
}
.history_blocks p{
	padding: 0 10px 20px;
	font-size: 13px;
	letter-spacing: .5px;
	font-family: 'CrimsonText-Roman';

}
.hs-block1 div:after{
    content: ''; 
    position: absolute;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    top: 10px;
    right: -6px;
    box-shadow: 2px -2px 0 0;
    transform: rotate(45deg);
}
.hs-block2 div:after{
    content: ''; 
    position: absolute;
    border-top: 15px solid #fff;
    border-left: 15px solid transparent;
    top: 10px;
    left: -6px;
    box-shadow: 2px -2px 0 0;
    transform: rotate(-135deg);
}
.hs-block1 div:before{
    content: ''; 
    position: absolute;
    width: 20px;
    height: 20px;
    background-color: #3e3d3d;
    border-radius: 50%;
    top: 10px;
    right: -45px;
}
.hs-block2 div:before{
    content: ''; 
    position: absolute;
	width: 20px;
	height: 20px;
	background-color: #3e3d3d;
	border-radius: 50%;
    top: 7px;
    left: -45px;
}
.hs-block2 div:nth-child(even){
	background-color: #3e3d3d;
    color: #fff;
    box-shadow: 0 0 0 2px #3e3d3d;
}
.hs-block2 div:nth-child(even):after{
	border-top: 15px solid #3e3d3d;
    box-shadow: 0 0 0 2px #3e3d3d;
}
.history_blocks:first-child{
	align-items: flex-end;
	padding-right: 35px;
}
.history_blocks:last-child{
	border-left: 1px solid #3e3d3d;
	align-items: flex-start;
	padding-left: 35px;
	padding-top: 80px;
}
.hs-img{
	background-color: #3e3d3d;
	padding: 20px 20px;
	border-radius: 50%;
	position: relative;
	margin-bottom: 50px;
}
.hs-img img{
    width: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/*History end*/
/*Our Team start*/
.our_team_wrap{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-image: url(../img/sky_bg.png);
	background-size: cover;
	background-repeat: no-repeat;
}
.our_team_blocks{
	width: 80%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	padding-bottom: 50px;
}
.our_team_block{
	width: 50%;
	text-align: center;
	position: relative;
	box-sizing: border-box;
	margin-bottom: 20px;
}
.our_team_block img{
	display: block;
	width: 100%;
	height: auto;
}
.our_team_block:nth-child(even){
	margin-left: 25px;
	margin-right: 25px;
}
.our_team_stels_block{
	margin: 0 auto;
	width: 95%;
	height: 96%;
	position: absolute;
	display: none;
	left: 50%;
	top: 50%;
	right: 0;
	bottom: 0;
	transform: translate(-50%,-50%);
	background: rgba(255,255,255, 0.7);
}
.our_team_block:hover .our_team_stels_block{
	display: flex;
	align-items: flex-end;
}
.stels_description{
	margin-left: 20px;
	margin-bottom: 50px;
	text-align: left;
	color: #3e3d3d;
}
.stels_description i{
	font-size: 18px;
	padding-left: 4px;
	padding-right: 4px;
}
.stels_description a{
	color: #3e3d3d;
}
.stels_description a:nth-child(even){
	border-left: 1px solid #515151;
	border-right: 1px solid #515151;
}
.team_name{
	font-weight: bold;
	margin: 0;
	font-family: 'Montserrat-Regular';
	font-size: 20px;
}
.team_position{
	font-size: 16px;
	font-family: 'CrimsonText-Roman';
	border-bottom: 2px solid #515151;
	font-style: italic;
	line-height: 40px;
	margin-top: 0;
}
/*Our Team end*/
/*Portfolio start*/
.portfolio_wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.portfolio_wrap p{
	text-align: center;
	padding-top: 40px;
}
.portfolio_btns{
	width: 10%;
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
	margin-bottom: 45px;
	margin-top: 30px;
}
.portfolio_btns a{
	display: block;
	line-height: 32px;
	margin-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 2px solid #3e3d3d;
	color: #3e3d3d;
	font-family: 'Montserrat-Regular';
	transition: background-color 1s ease-out;
	transition: color 1s ease-out;
}
.portfolio_btns a:hover{
	color: #fff;
	background-color: #3e3d3d;
	transition: background-color 1s ease-out;
}
.pf-img{
	width: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}
.pf-img img{
	display: block;
	width: 25%;
	max-height: 500px;
}

/*Portfolio end*/
/*Prices start*/
.prices_wrap{
	display: flex;
	align-items: center;
	flex-direction: column;
	background-color: #e3e3e3;
	padding-bottom: 45px;
}
.tariffs{
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-evenly;
	width: 65%;
}
.tariff{
	text-align: center;
	color: #3e3d3d;
	font-family: 'Montserrat-Regular';
	background-color: #fff;
	margin-bottom: 30px;
	margin-right: 5px;
	margin-left: 5px;
	width: 25%;

}
.tariff p:first-child{
	font-size: 14px;
	font-weight: bold;
	line-height: 40px;
}
.price{
	font-size: 70px;
	font-weight: bold;
	margin: 0px 20% 0 20%;
	line-height: 120px;
	border-top: 2px solid;
}
.tariff_desc{
	font-style: italic;
	font-family: 'CrimsonText-Roman';
}
.tariff-btn{
	display: block;
	font-weight: bold;
	border: 2px solid #3e3d3d;
	color: #3e3d3d;
	line-height: 30px;
	margin-left: 25%;
	margin-right: 25%;
	margin-bottom: 20px;
	transition: background-color 1s ease-out;
	transition: color 1s ease-out;
}
.tariff-btn:hover{
	background-color: #3e3d3d;
	transition: background-color 1s ease-out;
	color: #fff;

}
/*Prices end*/
/*Compas label*/
.compas_label{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-around;
	background-color: #2d2d2f;
}
.compas-img{
	display: block;
	width: 7%;
	margin-bottom: 5px;
	margin-top: 5px;
}
.compas-question{
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
	font-family: 'Montserrat-Regular';
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	letter-spacing: 1px;
    margin: 5px 10px;
}
.compas-desc{
	display: block;
	color: #838383;
	font-family: 'CrinsonText-Roman';
	font-style: italic;
	font-weight: normal;
	font-size: 16px;
	text-align: center;
}
.compas_btn{
	cursor: pointer;
	background-color: #2d2d2f; 
	color: #fff;
	border: solid 2px #fff;
	display: block;
	line-height: 44px;
	padding-right: 22px;
	padding-left: 22px;
	margin-top: 10px;
	margin-bottom: 10px;
	font-family: 'Montserrat-Regular';
	font-weight: bold;
	-webkit-transition: 1s ease-out;
	-o-transition: 1s ease-out;
	transition: 1s ease-out;
}
.compas_btn:hover{
	background-color: #fff;
	color: #2d2d2f; 
	-webkit-transition: 1s ease-out;
	-o-transition: 1s ease-out;
	transition: 1s ease-out;
}
/*compas label end*/
/*Blog start*/
.blog_wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.blog_gallery{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	width: 80%;
}
.blog-info{
	width: 25%;
	background-color: #555557;
	color: #fff;
}
.blog_gallery img{
	display: block;
	width: 25%;
	max-height: 400px;
}
.blog-info span{
	font-style: italic;
	border-bottom: 2px solid #827e77;
	font-family: 'CrimsonText-Roman';
	display: block;
	padding-bottom: 8px;
    margin: 10px 0px 5px 10px;
    width: 80%;
}
.blog-info h5{
	letter-spacing: 1px;
	font-size: 18px;
	font-weight: bold;
	font-family: 'Montserrat-Regular';
	margin: 0 10px 0;
}
.blog-info p{
	font-family: 'CrimsonText-Roman';
	font-size: 16px;
	line-height: 18px;
	letter-spacing: 1px;
	color: rgba(255, 255, 255, 0.6);
	margin: 5px 10px 5px 10px;
}
/*Blog end*/
/*Clients Start*/
.clients-wrap{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.clients{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 45%;
	margin: 20px 0 100px;
}
.clients img{
	width: 15%;
	display: block;
}
.map{
	width: 100%;
	max-height: 512px;
}
/*Clients End*/
/*footer start*/
.footer-wrap{
	width: 60%;
	margin: 0 auto;
	align-items: flex-start;
	flex-direction: column;
	display: flex;
	padding: 50px 0 40px;
}
.f-logo{
	font-weight: bold;
	color: #fff;
	letter-spacing: 2px;
	font-size: 20px;
	text-transform: uppercase;
	font-family: 'Montserrat-Regular';
}
.f-content{
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}
.f-content form{
	width: 45%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	max-height: 400px;
}
.contact-info{
	width: 35%;
	display: flex;
	flex-direction: column;
	font-family: 'CrimsonText-Roman';
	letter-spacing: 1px;
	color: rgba(255,255,255, 0.5);
}
.f-content form input{
	width: 45%;
	max-height: 52px;
	background-color: rgba(255, 255, 255, 0);
	border: solid 2px #464646;
	margin-top: 5px;
    padding-left: 10px;
    color: #fff;
}
.f-content form textarea{
	width: 100%;
	background-color: rgba(255, 255, 255, 0);
	border: solid 2px #464646;
	margin-top: 5px;
    padding-left: 10px;
    color: #fff;
    resize: none;
}
.submit-btn{
    font-size: 18px;
    color: #fff;
    font-weight: bold;
}
/*footer end*/
.copyright{
	text-align: center;
	color: #aaa;
    font-family: 'arial';
    font-size: 10px;
}