a{
	text-decoration: none;
}
body,
header,
footer{
	margin: 0;
	padding: 0;
}

/*Header*/
.hat{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	font-family: 'Montserrat-Regular';
	font-weight: bold;

}
.hat a{
	color: #aaa;
}
.hat_logo{
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.hat_logo a{
	letter-spacing: 2px;
	font-size: 18px;
	padding-left: 3px;
}
.hat_menu{
	display: flex;
	flex-direction: row;
	list-style: none;
	padding-left: 0;
	padding-right: 4em;
}
.hat_menu li,
.hat_social li{
	padding: 0 5px 0 5px;
}
.hat_menu li a:hover,
.hat_social li a:hover{
	color: #757575;
	transition: 0.8s ease-out;
}
.hat_social{
	display: flex;
	flex-direction: row;
	list-style: none;
}